# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Datasets
data/
dataset/

# Model files
models/
checkpoints/
*.pt
*.pth
*.pkl

# Results
results/

# Environment / secrets
.env

# Logs
*.log